.f-w{
  width: 100%;
  padding-left: 67px;
  margin-top:20px
}
.w-f{
  width: 100%;
}
.swiper-wrapper{
  width: 100%;
  max-width: 850px;
}
.swiper-button-next{
  padding-right: 7%;
  margin-top: 13%;
}
.p-a{
  position: absolute;
  bottom: 40px;
  left: 80px;
  font-size: 35px;
  color: white;
}

.p-sm{
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ACD8E0;
}
