<swiper class="f-w swiper-wrapper" (indexChange)="onIndexChange($event)" [config]="config">
      <div class="f-w" *ngFor="let item of data">
        <div class="img-tr relative">
          <img [src]="item.type === 'tours' ? item.attributes['landscape-image-url'] : item.attributes['image-url']" alt="">
          <div class="p-a">
           <h1>{{ item.attributes.name }}</h1>
           <p class="p-sm">{{ item.type === 'tours' ? item.attributes.schedule : item.attributes.summary }}</p>
          </div>
        </div>
        <div>
          {{ item.type === 'tours' ? item.attributes.summary : item.attributes.description }}
        </div>

      </div>

</swiper>

<div class="horizontal-arrows">
  <div class="swiper-button-prev" (click)="goLeftSlider()">
      <span class="icon icon-interface-left"></span>
  </div>
  <div class="swiper-button-next " (click)="goRightSlider()">
      <span class="icon icon-interface"></span>
  </div>
</div>
