<div class="wrapper" *ngIf="itinerary && !itinerary.loading && itinerary.data">
    <div class="location-wrapper flex justify-between items-center">
        <div class="location-details ">
            <div class="location-names">
                <div
                    *ngFor="let l of generateCitiesArray(itinerary.data.data.relationships.cities.data, itinerary.data.included)">
                    {{ l }}
                </div>
            </div>
            <div class="trip-time">
                {{ itinerary.data.data.attributes['days-count'] }} Day Trip
            </div>
        </div>

        <app-location-paginator
            class="block"
            [data]="itinerary.data.data.attributes['transportation-plan']"
            [leftMostIndex]="1"
            [locationsToShow]="8"
            [activeIndex]="2"
        ></app-location-paginator>
    </div>
    <div class="line"></div>

    <div class="details-wrapper flex ">
        <div class="left-side">
            <div class="day">
                DAY:
            </div>

            <app-paginator
                class="block"
                [currentPage]="itinerary.dayIndex"
                [leftMostPage]="1"
                [pagesAmount]="itinerary.data.data.relationships.days.data.length"
                [pagesToShow]="10"
                (page)="onDayChange($event)"
            ></app-paginator>

            <div class="gt-n">
                <div class="edit-add">
                <button (click)="dialogService.openDialog('editTrip')">EDIT TRIP</button>
                <button (click)="dialogService.openDialog('selectActivity')">+ ADD ACTIVITY</button>
            </div>

            <div class="tl-wr">
                <div class="location">
                {{ findLocation() }}
            </div>
            <div class="date">
                {{ day.attributes.date | date }}
            </div>
            </div>
            </div>


            <div class="left-list-wrapper">
                <div class="left-item flex cursor-pointer"
                    *ngFor="let tour of generateTours(); let i=index"
                    [ngClass]="{ 'left-item__active': i === itinerary.tourIndex }"
                    (click)="onTourChange(i)">
                    <div class="image" [style.background-image]="'url(\'' + tour.attributes['square-image-url'] + '\')'"></div>

                    <div class="detail-wrapper">
                        <div class="title">
                            {{ tour.attributes.name }}
                        </div>

                        <div class="time-interval">
                            {{ tour.attributes.schedule }}
                        </div>

                        <div class="actions flex">
                            <button class="change-button flex justify-between items-center" (click)="onChange()">
                                <img src="/assets/change-icon.svg" alt="">
                                <div>
                                    CHANGE
                                </div>
                            </button>
                            <button class="remove-button flex justify-between items-center"
                                *ngIf="i === itinerary.tourIndex"
                                (click)="onDeleteTour(tour.id)">
                                <img src="/assets/remove-icon.svg" alt="">
                                <div>
                                    REMOVE
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-side pd-lf">
            <app-location-detail [data]="waypoints"></app-location-detail>
        </div>
    </div>
    <div class="pd-rg">
        <app-check-experience></app-check-experience>
    </div>
    <div class="line2"></div>
    <div class="pr-g " style="height: 200px;">
        <app-detail-itirenary></app-detail-itirenary>
    </div>
</div>
