<div class="wrapper">
    <div class="location-wrapper flex justify-between items-center">
        <div class="location-details ">
            <div class="location-names">
                <div
                    *ngFor="let l of (locationsToVisit.length > 3 ?
                        [locationsToVisit[0], '...', locationsToVisit[locationsToVisit.length - 1]]
                        : locationsToVisit)">
                    {{ l }}
                </div>
            </div>
            <div class="trip-time">
                {{ tripTime }} Day Trip
            </div>
        </div>

        <app-location-paginator
            class="block"
            [data]="locationPaginatorData"
            [leftMostIndex]="1"
            [locationsToShow]="8"
            [activeIndex]="2"
        ></app-location-paginator>
    </div>

    <div class="line"></div>

    <div class="details-wrapper flex ">
        <div class="left-side">
            <div class="day">
                DAY:
            </div>

            <app-paginator
                class="block"
                [currentPage]="8"
                [leftMostPage]="1"
                [pagesAmount]="20"
                [pagesToShow]="10"
                (page)="onPageChange($event)"
            ></app-paginator>

            <div class="edit-add">
                <button>EDIT TRIP</button>
                <button>+ ADD ACTIVITY</button>
            </div>

            <div class="location">
                {{ location }}
            </div>

            <div class="date">
                {{ date }}
            </div>

            <div class="left-list-wrapper">
                <div class="left-item flex" *ngFor="let l of leftData; let i=index" [ngClass]="{ 'left-item__active': i === leftItemActiveIndex }">
                    <div class="image" [style.background-image]="'url(\'' + l.img + '\')'"></div>

                    <div class="detail-wrapper">
                        <div class="title">
                            {{ l.title }}
                        </div>

                        <div class="self-guided">
                            {{ l.isSelfGuided ? '(Self Guided)' : '' }}
                        </div>

                        <div class="time-interval">
                            {{ l.timeInterval }}
                        </div>

                        <div class="actions flex">
                            <button class="change-button flex justify-between items-center">
                                <img src="/assets/change-icon.svg" alt="">
                                <div>
                                    CHANGE
                                </div>
                            </button>
                            <button class="remove-button flex justify-between items-center" *ngIf="i === leftItemActiveIndex">
                                <img src="/assets/remove-icon.svg" alt="">
                                <div>
                                    REMOVE
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="right-side pd-lf">
            <app-location-detail></app-location-detail>
        </div>
    </div>

    <div class="line"></div>
</div>
