.wrapper {
    .location-wrapper {
        color: #767388;
        width: 100px;
        margin-top: 35px;
    
        .icon-data {
            width: 35px;
            height: 35px;
            margin: 5px 0;

            &__active {
                border-color: #02A388;
                border-width: 1px;
                border-radius: 50%;
            }
        }
        
        .first-data {
            font-size: 12px;
            font-weight: 700;
            width: 105%;
        }
        
        .second-data {
            font-size: 14px;
            font-weight: 700;
            
            &__active {
                color: #000000;
            }
        }
        
        .third-data {
            font-size: 14px;
            font-weight: 700;
        }
    }
    
    .lower-than, .higher-than {
        width: 15px;
    }
}

@media only screen and (max-width: 768px) {
    .wrapper {
        margin-top: -40px;

        .location-wrapper {
            margin-top: 70px;
        }
    }
}