<div class="wrapper">
    <div class="city">
        {{ city }}
    </div>

    <div class="days-wrapper" *ngIf="days">
        <div class="day-and-x"
            *ngFor="let d of days">
            <div [class]="'day-wrapper day-wrapper__fill--' + d.fill" 
                [ngClass]="{
                    'day-wrapper__hasX': d.hasX
                }">
    
                <div class="day-text">DAY</div>
                <div class="num">{{ d.num }}</div>
                <div class="name-dd-month">{{ d.name }}, {{ d.dd }} {{ d.month }}</div>
                
                <div class="half-filler" *ngIf="d.fill === 1"></div>
            </div>

            <div class="x-icon-wrapper" *ngIf="d.hasX">
                <img src="/assets/location-day-x-icon.svg" alt="">
            </div>
        </div>

        <div class="add-day">
            <div class="add-day-text">
                Add Day
            </div>

            <img src="/assets/add-day-icon.svg" alt="">
        </div>
    </div>
</div>