<div class="wrapper">
    <div class="city">
        {{ city.attributes.name }}
    </div>

    <div class="days-wrapper" *ngIf="daysArr">
        <div class="days-inner-wrapper">
            <div class="day-and-x"
                *ngFor="let d of daysArr; let i=index">
                <div [class]="'day-wrapper day-wrapper__fill--' + (d.attributes['half-day'] ? 1 : 2)" 
                    [ngClass]="{
                        'day-wrapper__hasX': d.attributes.removable
                    }">
        
                    <div class="day-text">DAY</div>
                    <div class="num">{{ d.attributes.index }}</div>
                    <div class="name-dd-month">{{ d.attributes.date | date }}</div>
                    
                    <div class="half-filler" *ngIf="d.attributes['half-day']"></div>
                </div>
    
                <div class="x-icon-wrapper" *ngIf="d.attributes.removable" (click)="onDelete(i)">
                    <img src="/assets/location-day-x-icon.svg" alt="">
                </div>
            </div>
        </div>

        <div class="add-day">
            <div class="add-day-text">
                Add Day
            </div>

            <img src="/assets/add-day-icon.svg" alt="" (click)="onAddDay()">
        </div>
    </div>
</div>