.wrapper {
  position: relative;
  width: 100%;
  // padding: 15px 35px 15px 15px;
  color: #1B1B1B;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  z-index: 100;
}
.logo{
  font-family: 'Kiwi Maru', serif;
  font-size: 15px;
  font-weight: 700;
}
.register{
  color: #45469D;
  font-family: 'Kiwi Maru', serif;
  font-size: 15px;
  font-weight: 700;
}
.mainNav{
  display: flex;
  align-items: center;
  justify-content: space-between;
    div:not(:last-child){
      margin-right: 15px
    }
}
.navigation{
  display: flex;
  flex-direction: column;
  font-family: 'Kiwi Maru', serif;
  font-size: 15px;
  font-weight: 500;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}
.LoginForm{
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-between;
}
.login{
  border: 1px solid #45469D;
  border-radius: 10px;
  color: #45469D;
  font-family: 'Kiwi Maru', serif;
  font-size: 15px;
  font-weight: 500;
  width: 90px;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.loginButton{
  text-decoration: none;
}
