
<div class="wrapper">
  <img src="/assets/header-icon.svg" alt="">

  
  <div class="pages-wrapper">
    <div class="page" *ngFor="let p of pages" [ngClass]="{ 'page__active': router.url === p.url }">
      {{ p.name }}
    </div>

    <div class="user" (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)" [ngClass]="{ 'user__active': isOpen }">
      <div class="green-wrapper">
        <img src="/assets/user-icon.svg" alt="">
      </div>
      <div class="username">Username22138</div>

      <div class="triangle"></div>

      <div class="user-menu" [ngClass]="{ 'user-menu__active': isOpen }">
        <div class="name">Mr.John Doe</div>
        <div class="edit-profile">Edit Profile</div>
        <div class="log-out">Log Out</div>
      </div>
    </div>
  </div>
</div>

  