<div class="wrapper">
    <div class="logo">C A R E N T</div>
    <div class="navigation">
      <div class="mainNav">
      <div>Home</div>
      <div [routerLink]="['/carrent']" routerLinkActive="router-link-active"  style="cursor: pointer;">Catalogue</div>
      <div [routerLink]="['/auth']">Parts</div>
      <div>Contact</div>
      </div>
      <app-search-bar style="margin-top: 35px;"></app-search-bar>
    </div>
    <div class="LoginForm">
      <div class="register">Register</div>
      <div class="login">
        <button class="loginButton">LOGIN</button>
      </div>
    </div>
</div>
