<!-- <div class="wrapperHead gr">
    <div>
        <h1>Tour Activities in {{ city.attributes.name }}</h1>
    </div>
</div> -->
<div class="wrapper flex" >
  <div class="pd-r">
    <h1 class="h-bf">MY BOOKINGS</h1>
   <div class="column-div">
    <div class="sv-div">
      <div class="frst-sv">
        <div class="sav-inf shadow-lg">
        <img src="/assets/diskete.svg" alt="work">
      </div>
      <div class="pd-c"><p>Save a Booking what <br>You have Made</p></div>
    </div>
    </div>
    <div class="plane">
      <div class="mini-plane">
        <div class="sz-f">Date:21 FEB</div>
        <div><img src="../../../../assets/airplane.svg" alt=""></div>
      </div>
      <div class="flight">Flight to Prague</div>
      <div class="location-right">
        <div class="location-img">
        <img src="../assets/location-right.svg" alt="">
        </div>
        <div class="location-texts">
          <div>Depart Times</div>
          <div>11:25(11:25AM)</div>
          <div>Departing Airport</div>
          <div>New York JFK</div>
        </div>
      </div>
      <div class="location-left">
        <div class="location-img">
        <img src="../assets/location-left.svg" alt="">
        </div>
        <div class="location-texts">
          <div>Depart Times</div>
          <div>11:25(11:25AM)</div>
          <div>Departing Airport</div>
          <div>New York JFK</div>
        </div>
      </div>
      <div class="booked">
        <div class="booked-img"><img src="../assets/booked.svg" alt="alter"></div>
        <div class="booked-pdf"><img src="../assets/pdf.svg" alt="alt"></div>
      </div>
    </div>
   </div>
  </div>
</div>

<div class="transportation-wrapper">
  <div class="header">Transportation to Prague</div>
  <ng-container *ngIf="affiliateState && !affiliateState.partnerTransportsLoading && affiliateState.partnerTransports && affiliateState.partnerTransports.data && affiliateState.partnerTransports.data.length > 0">
    <div class="transportation" *ngFor="let item of affiliateState.partnerTransports.data">
      <div class="left-wrapper">
        <img src="/assets/bus-detailed.svg" alt="" *ngIf="item.attributes['transport-type'] === 'bus'">
        <img src="/assets/plane-detailed.svg" alt="" *ngIf="item.attributes['transport-type'] === 'air'">
        <img src="/assets/train-detailed.svg" alt="" *ngIf="item.attributes['transport-type'] === 'train'">

        <div class="powered-by">
          <div class="title">
            Powered By
          </div>
          <div class="partner-name">
            {{ item.attributes['partner-name'] }}
          </div>
        </div>

      </div>

      <div class="vertical-line"></div>
      
      <div class="right-wrapper">
        <div class="title">
          {{ item.attributes.title }}
        </div>

        <div class="description">
          {{ item.attributes.description }}
        </div>

        <div class="horizontal-line"></div>
        
        <div class="tags">
          <div class="tag" *ngFor="let tag of ['Plane', 'Tickets']">
            {{ tag }}
          </div>
        </div>

        <div class="booked">
          <div class="icon"><img src="/assets/booked.svg" alt="alter"></div>
          <div class="text">Booked</div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
