<!-- <div class="wrapperHead gr">
    <div>
        <h1>Tour Activities in {{ city.attributes.name }}</h1>
    </div>
</div> -->
<div class="wrapper flex" >
  <div class="pd-r">
    <h1 class="h-bf">MY BOOKINGS</h1>
   <div class="column-div">
    <div class="sv-div">
      <div class="frst-sv">
        <div class="sav-inf shadow-lg">
        <img src="/assets/diskete.svg" alt="work">
      </div>
      <div class="pd-c"><p>Save a Booking what <br>You have Made</p></div>
    </div>
    </div>
    <div class="plane">
      <div class="mini-plane">
        <div class="sz-f">Date:21 FEB</div>
        <div><img src="../../../../assets/airplane.svg" alt=""></div>
      </div>
      <div class="flight">Flight to Prague</div>
      <div class="location-right">
        <div class="location-img">
        <img src="../assets/location-right.svg" alt="">
        </div>
        <div class="location-texts">
          <div >Depart Times</div>
          <div style="color :#D15A5A">11:25(11:25AM)</div>
          <div>Departing Airport</div>
          <div style="color:#D15A5A">New York JFK</div>
        </div>
      </div>
      <div class="location-left">
        <div class="location-img">
        <img src="../assets/location-left.svg" alt="">
        </div>
        <div class="location-texts">
          <div>Depart Times</div>
          <div style="color: #02A388;">11:25(11:25AM)</div>
          <div>Departing Airport</div>
          <div style="color: #02A388;">New York JFK</div>
        </div>
      </div>
      <div class="booked">
        <div class="booked-img" style="color: #02A388; font-size: 12px; font-weight: 500; padding-left: 10px;"><img src="../assets/booked.svg" alt="alter"> Booked</div>
        <div class="booked-pdf"><img src="../assets/pdf.svg" alt="alt"></div>
      </div>
    </div>
   </div>
  </div>
</div>

