.bg-col{
  width: 120px;
  height: 120px;
}
.tx-c{
  color: red;
}
.btm{
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color:white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.h-bf{
  white-space: nowrap;
  font-size: 30px;
  font-weight: bold;
  color: #02A388;
}
.pd-r{
  margin-top: 42px;
    /* padding: 65px; */
    padding-left: 20%;
    width: 100%;

}
.column-div{
  display: flex;
  justify-content: space-between;
}
.sz-f{
  font-size: 12px;
  font-weight: 200;
  color: #767388;
}
.mini-plane{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.booked{
  display: flex;
  justify-content: space-between;
}
.plane{
  box-shadow: #767388;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: 4px;
  width: 350px;
  height: 285px;
  box-shadow: 0px 10px -14px 14px #FFF;
}
.booked-img{
  display: flex;
  margin-top: 20px;
  padding-left: 12px;
}
.booked-pdf{
  padding-right: 11px;
}
.location-right{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5px;
}
.location-left{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5px;
}
.location-img{
  padding-left: 5px;
  padding-right: 5px;
}
.location-texts{
  padding-right: 58px;
  padding-left: 5px;
  font-size: 10px;
  font-weight: 200;
  color: #767388;
}
.flight{
  padding-left: 10px;
  font-size: 14px;
  font-weight: 600;
  margin-top: 3%;
  color: #02A388;
}
.sav-inf{
    background-color: white;
    display: flex;
    justify-content: center;
    width: 142px;
    height: 121px;
    border-bottom: 1px solid whitesmoke;
}
.pd-c{
  color: #02A388;
  font-weight: 600;
}
.sv-div{
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
}
.scnd-sv{
  background-color: white;
  width: 199px;
  height: 295px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 20px;
  border-radius: 10px;
}
.frst-sv{
  margin-top: 50px;
}

.cl{
  width: 180px;
  height: 100;
  object-fit: contain;
}
.cl-2{
  font-size: 14px;
  font-weight: bold;
  color: #02A388;
}

.cl-3{
  font-size: 11px;
  color: #767388;
}

.cl-4 p{
  font-size: 10px;
  color: #767388;
}
.cl-4{
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 85px;
  justify-content: space-evenly;
}
.cl-5{
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 40px;
  justify-content: space-evenly;
}

.cl-5 p{
  font-size: 10px;
  color: #767388;
}
.cl-6{
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 80px;
  justify-content: space-evenly;
}

.cl-6 p{
  font-size: 10px;
  color: #767388;
}

.cicle{
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
}

.pd-f{
  right: -100px;
  margin-bottom: 20px;
}
