.fl-x{
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1228px;
  font-size: 14;

}
.fl-s{
  // border: 2px solid #02A388;
  // border-radius: 9px;
  width: 100%;
  font-size: 14px;
  color: #02A388;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // border-right: 1px solid #1A1538;
  margin-right: 50px;
  padding-left: 12px;
  position: relative;

  h1 {
    white-space: nowrap;
  }

  .fl-s:last-child{
    border: none;
  }

  &:after:not(:last-child) {
    content: "";
    width: 1px;
    height: 100%;
    top: 0;
    right: -25px;
    background-color: #1A1538;
    position: absolute;
    z-index: 1;

  }
}

.fl-l{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-img{
  margin-right: 10px;
}

.gm-p{
  display: flex;
  justify-content: space-evenly;
}

.my-2 .fl-s:first-child .gm-p{
  border: 2px solid #7FD0C3;
  padding: 3px 20px;
  border-radius: 5px;
}
.my-3{
  display: flex;
  min-width: 180px;
  max-width: 250px;
  border: 2px solid #7FD0C3;
  padding: 3px 20px;
  border-radius: 5px;
  background-color: #02A388;
  img{
    width: 24px;
  }
   div{
     padding-left: 10px;
      font-weight: 700;
    color: white;
   }
}


.gl-s:last-child{
  border: none;
}

.bg-col{
  width: 120px;
  height: 120px;
}

.btm{
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color:white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media only screen and (max-width: 768px) {
.wrapper {
  flex-direction: column;
  .my-1{
    display: flex;
    overflow: scroll;
    justify-content: space-between;
  }
  .grid-col{
    width: 150px;
    height: 50px;
    border-radius: 3px;
    border: 2px solid white;
    object-fit: cover;
  }
  .relative{
    img{
      width: 100%;
      object-fit: cover;
    };
    .nav-img{
      margin-right: 78px;
    }
  }
}


}

