<div class="flex flex-wrap -mx-2 overflow-hidden lg:-mx-3 xl:-mx-2">
  <div class="my-2 px-2 w-1/5 overflow-hidden lg:my-3 lg:px-3 lg:w-1/5 xl:my-2 xl:px-2 xl:w-1/5 fl-x" >
    <div class="fl-s flex gl-s" *ngFor="let item of array; let i = index" (click)="option = i">
      <div class="fl-l gm-p" style="cursor: pointer;" >
        <img [src]="item.imageURL" class="nav-img">
        <h1>{{item.name}}</h1>
      </div>
    </div>
  </div>

</div>

<app-my-bookings></app-my-bookings>
<app-city-cards *ngIf="option === 0"></app-city-cards>
<app-tour-activities *ngIf="option === 1"></app-tour-activities>
<app-tour-cards *ngIf="option === 2"></app-tour-cards>

