<ng-container *ngIf="affiliateState">
  <div class="wrapper wr-p pd-rg" *ngIf="!affiliateState.partnerActivitiesLoading && affiliateState.partnerActivities && affiliateState.partnerActivities.data.length > 0">
    <div class="rel">
      <h1>Book a related experience:</h1>
    </div>

    <div class="col-sc">
      <img class="lower-than cursor-pointer" *ngIf="deviceDetectorService.isMobile" (click)="onLeft()" src="/assets/lower-than-icon.svg">
      <div class="col" *ngFor="let item of dataToShow; let i=index"
        (click)="onClick(item)">
        <div class="ph-t-2">
          <!-- <div [src]="item.attributes['image-url']" alt="" class="photo-flex"> -->
            <div class="photo-flex" [style.background-image]="'url(\'' + item.attributes['image-url'] + '\')'"></div>
        </div>
        <div class="tx-t">
          <div class="wr-2 wr-c text-slice"><h2>{{ item.attributes['title'] }}</h2></div>
          <div class="wr-2 text-slice"><p>{{ item.attributes['description'] }}</p></div>
        </div>

        <div class="thrd-2">
            <div class="pdr-r">
              <img src="/assets/clock.svg" alt="">
              <div class="flex flex-column">
                <span class="spn-d">Duration</span>
                <span class="spn-col">
                  {{ item.attributes.duration ? item.attributes.duration[keysOfDuration[i]] + keysOfDuration[i][0] : '' }}
                </span>
              </div>
            </div>
            <div class="pdr-r">
              <img src="/assets/dollar.svg" alt="">
              <div class="flex flex-column">
                <span class="spn-d">Price</span>
                <span class="spn-col">
                  {{ item.attributes['price'] | currency : item.attributes.currency }}~
                </span>
              </div>
            </div>
            <div class="pdr-r">
              <img *ngIf="true" src="/assets/exit.svg" alt="">
              <img *ngIf="false" src="/assets/tick.svg" alt="">
              <div class="booked flex flex-column">
                <span class="spn-d">Booked</span>
                <span class="spn-col">NO</span>
              </div>
            </div>
        </div>
      </div>
      <img class="arrow-right cursor-pointer" *ngIf="deviceDetectorService.isMobile" (click)="onRight()" src="/assets/higher-than-icon.svg">
    </div>
  </div>

  aaaaaaaaaaaa
  <div class="wrapper wr-p pd-rg" *ngIf="!affiliateState.partnerTransportsLoading && affiliateState.partnerTransports && affiliateState.partnerTransports.data && affiliateState.partnerTransports.data.length > 0">
    <div class="rel">
      <h1>Book a related flight:</h1>
    </div>

    <div class="col-sc">
      <div class="transportation" *ngFor="let item of affiliateState.partnerTransports.data" 
        (click)="onClick(item)">
        <div class="left-wrapper">
          <img src="/assets/bus-detailed.svg" alt="" *ngIf="item.attributes['transport-type'] === 'bus'">
          <img src="/assets/plane-detailed.svg" alt="" *ngIf="item.attributes['transport-type'] === 'air'">
          <img src="/assets/train-detailed.svg" alt="" *ngIf="item.attributes['transport-type'] === 'train'">
  
          <div class="powered-by">
            <div class="title">
              Powered By
            </div>
            <div class="partner-name">
              {{ item.attributes['partner-name'] }}
            </div>
          </div>
  
        </div>
  
        <div class="vertical-line"></div>
        
        <div class="right-wrapper">
          <div class="title">
            {{ item.attributes.title }}
          </div>
  
          <div class="description">
            {{ item.attributes.description }}
          </div>
  
          <div class="horizontal-line"></div>
          
          <div class="tags">
            <div class="tag" *ngFor="let tag of ['Plane', 'Tickets']">
              {{ tag }}
            </div>
          </div>
  
          <div class="booked">
            <div class="icon"><img src="/assets/booked.svg" alt="alter"></div>
            <div class="text">Booked</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

  
