<div class="main">
  <div class="wrapper">
    <div class="carDetails">
      <div style="font-weight:700; font-size: 20px;">Car Catologue</div>
      <div style="font-weight: 300; font-size: 15px">Explore out cars you might like!</div>
    </div>
    <div class="selector">
      <select class="selecto">
        <option>Bero</option>
      </select>
      <select class="selecto">
        <option>Bero</option>
      </select>
      <select class="selecto">
        <option>Bero</option>
      </select>
      <select class="selecto">
        <option>Bero</option>
      </select>
    </div>
  </div>
  <div class="carItems">
    <div class="carDetailing" *ngFor="let item of cars | paginate: { itemsPerPage: 10, currentPage: this.p }" id="changwidth" >
      <h1 style="font-size: 15px; color: #303237; padding-top: 10px; padding-left: 20px; font-family: 'Kiwi Maru', serif;">{{item.name}}</h1>
      <div class="price" style="display: flex;align-items: center;padding-left: 20px; padding-top:10px;max-width: 20px; font-family: 'Kiwi Maru', serif;">
        <h1 style="font-size: 15px; font-weight: 700 ;color: #303237;">{{item.price}}</h1>
        <p style="font-weight: 400;">/day</p>
      </div>
      <div>
        <img [src]="item.image" alt="">
      </div>
<div class="cars-footer">
  <div class="wheel">
    <div><img src="../../../assets/wheel.svg" alt="" style="width: 15px;"></div>
    <div style="font-size: 12px;">{{item.transmision}}</div>
  </div>
  <div>
    <div><img src="../../../assets/sea.svg" alt="" style="width: 25px;"></div>
    <div style="font-size: 12px;">{{item.seats}}</div>
  </div>
  <div>
    <div><img src="../../../assets/gas.svg" alt="" style="width: 25px;"></div>
    <div style="font-size: 12px;">{{item.oil}}</div>
  </div>
</div>
    </div>
  </div>
  <div class="pagination">
  <pagination-controls
  (pageChange)="this.p = $event"
  (pageBoundsCorrection)="this.p = $event"
  maxSize="9"
  directionLinks="true"
  autoHide="true"
  responsive="true"
  previousLabel="Previous"
  nextLabel="Next"
  screenReaderPaginationLabel="Pagination"
  screenReaderPageLabel="page"
  screenReaderCurrentLabel="You're on page">
</pagination-controls>
  </div>
</div>
