<div class="main">
  <div class="wrapper">
    <div class="carDetails">
      <div style="font-weight:700; font-size: 20px;">Car Catologue</div>
      <div style="font-weight: 300; font-size: 15px">Explore out cars you might like!</div>
    </div>
    <div class="selector">
      <select class="selecto">
        <option>Bero</option>
      </select>
      <select class="selecto">
        <option>Bero</option>
      </select>
      <select class="selecto">
        <option>Bero</option>
      </select>
      <select class="selecto">
        <option>Bero</option>
      </select>
    </div>
  </div>
  <div class="carItems">
    <div class="carDetailing" *ngFor="let item of cars" id="changwidth">
      <h1 style="font-size: 15px; color: #303237; padding-top: 20px; padding-left: 20px;">{{item.name}}</h1>
      <div class="price" style="display: flex;align-items: center;padding-left: 20px;max-width: 20px">
        <h1 style="font-size: 15px; font-weight: 700 ;color: #303237;">{{item.price}}</h1>
        <p style="font-weight: 400;">/day</p>
      </div>
      <div>
        <img [src]="item.image" alt="">
      </div>
<div class="cars-footer">
  <div class="wheel">
    <div><img src="../../../assets/wheel.svg" alt="" style="width: 15px;"></div>
    <div style="font-size: 12px;">{{item.transmision}}</div>
  </div>
  <div>
    <div><img src="../../../assets/sea.svg" alt="" style="width: 25px;"></div>
    <div style="font-size: 12px;">{{item.seats}}</div>
  </div>
  <div>
    <div><img src="../../../assets/gas.svg" alt="" style="width: 25px;"></div>
    <div style="font-size: 12px;">{{item.oil}}</div>
  </div>
</div>
    </div>
  </div>
</div>
