@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;500&display=swap');

html, body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: rgb(230,207,239);
    background: linear-gradient(90deg, rgba(230,207,239,1) 0%, rgba(226,220,246,1) 35%, rgba(242,244,250,1) 100%);
}

.close-dialog-btn {
    top: -5px;
    right: -10px;
}

*,*:focus,*:hover{
    outline:none;
}
