  <footer>
		<div class="footer_wrapper">
		<div class="footer_logo">
			<div class="logo">C A R E N T</div>
		</div>

		<div class="footer-nav">
      <div class="pri">Pricing</div>
      <div class="pri">Support</div>
      <div class="pri">Terms Of Service</div>
      <div class="pri">Contact US</div>
      <div class="pri">Services</div>
    </div>

		<div class="footer_social">
			<div>
				<a href=""><img src="assets/fb.svg"></a>
        <a href=""><img src="assets/linkedin.svg"></a>
        <a href=""><img src="assets/instagram.svg"></a>
			</div>
		</div>
		</div>
	</footer>
