<div class="wrapperHead gr">
  <div>
    <h1>Tours and Activities</h1>
  </div>
  <div class="wrapper">
    <div>
        <label class="search">
          <input class="border-2 tr bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
          type="search" name="search">
        </label>
      <button type="submit" class="absolute rg">
      </button>
    </div>

    <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0 flex jw-e">
      <div class="relative">
        <select class="block appearance-none w-full td py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state">
          <option>Category</option>
          <option>Travel</option>
          <option>Travel</option>
        </select>
      </div>
      <div class="butt">
        <button>Search</button>
       </div>
  </div>


</div>
