<ng-container *ngIf="affiliateState$ | async as affiliateState">
  <div class="wrapper wr-p pd-rg " *ngIf="!affiliateState.loading && affiliateState.partnerActivities && affiliateState.partnerActivities.data.length > 0">
    <div class="rel">
      <h1>Book a related experience:</h1>
    </div>

    <div class="col-sc">

      <div class="col" *ngFor="let item of affiliateState.partnerActivities.data" 
        (click)="onClick(item)">
        <div class="ph-t-2">
          <img [src]="item.attributes['image-url']" alt="" class="photo-flex">
        </div>
        <div class="tx-t">
          <div class="wr-2 wr-c"><h2>{{ item.attributes['title'] }}</h2></div>
          <div class="wr-2"><p>{{ item.attributes['description'] }}</p></div>
        </div>

        <div class="thrd-2">
            <div class="pdr-r">
              <img [src]="ClockIMG" alt="">
              <div class="flex flex-column">
              <span class="spn-d">Duration:</span>
              <span class="spn-col">{{ item.attributes.duration ? item.attributes.duration['hours'] : '' }}</span>
              </div>

            </div>
            <div class="pdr-r">
              <img [src]="Dollar" alt="">
              <div class="flex flex-column">
                <span class="spn-d">Price:</span>
                <span class="spn-col">${{ item.attributes['price']}}</span>
                </div>
            </div>
            <div class="pdr-r">
              <img [src]="time" alt="">
            </div>
        </div>
      </div>

    </div>

  </div>
</ng-container>
