<ng-container *ngIf="affiliateState">
  <div class="wrapper wr-p pd-rg " *ngIf="!affiliateState.partnerActivitiesLoading && affiliateState.partnerActivities && affiliateState.partnerActivities.data.length > 0">
    <div class="rel">
      <h1>Book a related experience:</h1>
    </div>

    <div class="col-sc">
      <img class="lower-than cursor-pointer" *ngIf="deviceDetectorService.isMobile" (click)="onLeft()" src="/assets/lower-than-icon.svg">
      <div class="col" *ngFor="let item of dataToShow"
        (click)="onClick(item)">
        <div class="ph-t-2">
          <!-- <div [src]="item.attributes['image-url']" alt="" class="photo-flex"> -->
            <div class="photo-flex" [style.background-image]="'url(\'' + item.attributes['image-url'] + '\')'"></div>
        </div>
        <div class="tx-t">
          <div class="wr-2 wr-c text-slice"><h2>{{ item.attributes['title'] }}</h2></div>
          <div class="wr-2 text-slice"><p>{{ item.attributes['description'] }}</p></div>
        </div>

        <div class="thrd-2">
            <div class="pdr-r">
              <img [src]="ClockIMG" alt="">
              <div class="flex flex-column">
              <span class="spn-d">Duration:</span>
              <span class="spn-col">{{ item.attributes.duration ? item.attributes.duration['hours'] : '' }}</span>
              </div>

            </div>
            <div class="pdr-r">
              <img [src]="Dollar" alt="">
              <div class="flex flex-column">
                <span class="spn-d">Price:</span>
                <span class="spn-col">{{ item.attributes['price'] | currency : item.attributes.currency }}</span>
                </div>
            </div>
            <div class="pdr-r">
              <img [src]="time" alt="">
            </div>
        </div>
      </div>
    <img class="arrow-right cursor-pointer" *ngIf="deviceDetectorService.isMobile" (click)="onRight()" src="/assets/higher-than-icon.svg">

    </div>

  </div>
</ng-container>
