<div class="wrapper wr-p pd-rg ">
<div class="rel">
 <h1>Book a related experience:</h1>
</div>
  <div class="col-sc" (click)="dialogService.openDialog('editTrip')" (click)="openSite()">
   <div class="col" *ngFor="let item of array">
    <div class="ph-t">
      <img [src]="item.image" alt="">
    </div>
    <div class="tx-t">
    <div class="wr-2 wr-c"><h2>{{item.name}}</h2></div>
    <div class="wr-2"><p>{{item.text}}</p></div>
    </div>
    <div class="thrd-2" *ngFor="let item of imgArray">
      <div class="pdr-r">
        <img [src]="item.clockimage" alt="">
      </div>
      <div class="pdr-r">
        <img [src]="item.dollarimg" alt="">
      </div>
      <div class="pdr-r">
        <img [src]="item.time" alt="">
      </div>
      </div>
   </div>

    </div>

</div>
